.info .search {
	width: 1000px
}
.chose{
	margin-left: 250px;
	height: 40px;
	background-color: #ffc52d;
	border: 2px solid #ffc52d;
	border-radius: 10px;
	color: white;
	width: 150px;
	font-size: 18px
	
}
.basic .basicform .allsignin{
margin-right: 75%;
	font-size: 26px

}
.modal-content{
	width:360px;
height: 440px;
	margin: auto;
	border-radius: 15px
}
.modal-footer>*{
width: 100px;
	height: 40px;
	border-radius: 10px;
	font-size: 18px;
	margin: auto

}
.modal-body{
padding: 0px;
	width: 358px;
	height: 302px
}
.modal-body img{
width: 358px;
	height: 302px;
	border-radius: 15px

}
.modal-body p{
margin-bottom: 0px;
padding-bottom: 0px;
margin: auto;
text-align: center}
.modal-body p.winner{
font-size: 26px;
	color: var(--dblue)
}
.modal-body p#n{
font-size: 18px}
modal-footer{
height: 80px}
#exampleModal{
border-radius: 15px;
	margin: auto
}
@media only screen and (max-width: 347px){
	.basic .basicform .allsignin{
	font-size: 15px}
}
@media (min-width: 348px) and (max-width: 610px){
	.basic .basicform .allsignin{
	font-size: 15px;
	margin-right: 60%}
	.chose{
	height: 25px;
	width: 100px;
	font-size: 14px;
	padding: 0px;
		margin-left: 50px
	}
	.info .search .inputsearch input[type="text"]{
	height: 25px;
		width: 100px
	}
	.info .search .inputsearch button{
	height: 25px}
	.info .search{
	margin-left: 5%}
	.modal-content {
    width: 260px;
    height: 300px;
    margin: auto;
    border-radius: 15px;
		margin-top: 20%}
	.modal-body img {
    width: 200px;
    height: 250px;
    border-radius: 15px;
	
	
	}}
@media (min-width: 611px) and (max-width: 768px){
	.basic .basicform .allsignin{
	font-size: 18px;
	margin-right: 70%
	}
	.chose{
	height: 30px;
	font-size: 16px;
	padding-top: 0px;
		margin-left: 100px;
		width: 115px;
		padding: 0px
	}
	.info .search{
	margin-left: 3%}
	
		


}
@media (min-width: 769px) and (max-width: 991.98px){
	.basic .basicform .allsignin{
	font-size: 20px;
	margin-right: 70%
	}
	.chose{
	height: 35px;
	font-size: 17px;
	padding-top: 0px;
		margin-left: 100px;
		width: 115px;
		padding: 0px
	}
	.info .search{
	margin-left: 3%}


}
@media (min-width: 992px) and (max-width: 1199.98px){
	.info .search{
	margin-left: 8%}
	.chose{
	margin-left: 100px}


}